## Proceso ETL

- Poner datos
- Lanzar el agente para que genere las nuevas columnas
- Generar los Json y meterlos a la base de datos

In [2]:
import pandas as pd

In [13]:
ruta_archivo = 'datos/datos_generados/ofertas_data_scientist.csv'

df = pd.read_csv(ruta_archivo)

df.drop(columns=['Unnamed: 0'], inplace=True)

df.head(2)

,Titulo,Empresa,Ubicacion,Salario,Experiencia minima,Tipo de contrato,Estudios minimos,Skills,Descripcion,Referencia,cat_original
0,Machine Learning Specialist,Infinite Data Labs,"Granada, España",60.000€ - 70.000€ Bruto/año,Al menos 4 años,"Indefinido, jornada completa",Ciclo Formativo Grado Superior en Informática,"R, Deep Learning, Data Visualization, Big Data","En Infinite Data Labs, estamos buscando un/a M...",E6EC0A51,Data Scientist
1,Predictive Analytics Expert,BrightAI Solutions,"Bilbao, España",45.000€ - 55.000€ Bruto/año,Al menos 3 años,"Temporal, media jornada",Máster en Data Science,"Hadoop, Spark, Kafka, ETL Processes","En BrightAI Solutions, estamos buscando un/a P...",3389D3B4,Data Scientist

In [14]:
df.to_csv(ruta_archivo, index=False)